<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
     <h1>
       <%= gravatar_for @user %>
       <%= @user.name %>
        <div class="link">
         <%= link_to "followings", followings_user_path(@user) %>
         <%= link_to "followers", followers_user_path(@user) %>
        </div>
     </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
    <h2>プロフィール画面</h2>
    <p>名前:<%= @user.name %></p>
    <p>Eメールアドレス:<%= @user.email %></p>
    <p>出身:<%= @user.area %></p>
    <p>サイト:<%= @user.url %></p>
    <p>自己紹介:<%= @user.self_introduction %></p>
  </div>
</div>