<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<h2>プロフィール画面</h2>
<p>名前:<%= @user.name %></p>
<p>Eメールアドレス:<%= @user.email %></p>
<p>出身:<%= @user.area %></p>
<p>サイト:<%= @user.url %></p>
<p>自己紹介:<%= @user.self_introduction %></p>